body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

footer p {
    padding-top: 0.8em;
    text-align: center;
}

mark {
    padding: 0 !important;
    background-color: transparent !important;
}

td {
    padding: 0 !important;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after,
[type="checkbox"].filled-in:checked+span:not(.lever):after 
{
    top: 3px !important;
}

.table-result td {
    padding: 0.3rem !important;
}

.table-materials td {
    padding: 0 0.3rem !important;
}